* {border:0 none; margin:0; padding:0;}
html {height:100%;}
body {
	background: url("woodpattern.jpeg") repeat scroll left top transparent;
	color:#DDDDDD; 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-rendering: optimizelegibility;
  padding:13px 80px;
  font-weight:lighter;
}
strong {color:white; font-weight:bold;}
#hello{color:white; font-weight:bold; margin-bottom:-10px;}
.noBullet{list-style-type: none; padding-left:10px;}
a:link, a:visited{color:#DDDDDD; display: inline-block; margin-top: 10px; text-decoration:none;}
a:hover{text-decoration:underline;}
#primaryContent{float:left; width:45%; margin-right: 20px;}
#secondaryContent{float:left; width:45%;}
#links{padding-left:10px; margin-top:-10px;}
div.box {
  background: none repeat scroll 0 0 rgba(42, 42, 42, 0.75);
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px #555555 inset, 0 3px 8px rgba(0, 0, 0, 0.4);
  height: auto;
  overflow: hidden;
	padding: 6px;
}
